/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
#hero-1951::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100px;
  height: 200px;
  z-index: 1;
  background: #FAF9F5;
  transform: skewY(-4deg);
}

/* Mobile - 360px X */
@media only screen and (min-width: 0rem) {
  #hero-1951 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background: #1B2127;
    overflow: hidden;
  }
  .fa-solid {
    margin-left: 0.5em;
    display: none;
  }
  #hero-1951 .cs-container {
    width: 100%;
    /* changes to 1280px on desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    margin-top: 7em;
  }
  #hero-1951 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #hero-1951 .cs-title {
    /* 31px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
  }
  #hero-1951 .cs-text {
    margin-bottom: 1.25rem;
  }
  #hero-1951 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 1rem 0 0 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    border: none;
    border-radius: 10rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1951 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1951 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1951 .cs-reviews {
    text-align: center;
    margin-top: clamp(2.5rem, 5vw, 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #hero-1951 .cs-reviews-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #hero-1951 .cs-reviews-img {
    width: 3rem;
    height: auto;
    margin: 0 -1rem 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  #hero-1951 .cs-reviews-number {
    font-size: 1rem;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1951 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  #hero-1951 .cs-rating {
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #hero-1951 .cs-rating-icon {
    width: 1rem;
    height: auto;
    margin: 0 0.25rem;
  }
  #hero-1951 .cs-reviews-text {
    font-size: clamp(0.875rem, 1.75vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #hero-1951 .cs-image-group {
    font-size: min(2.3vw, 1rem);
    width: 39.375em;
    height: 35em;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #hero-1951 .cs-image-group-right {
    display: flex;
  }
  #hero-1951 .cs-picture {
    width: 19.0625em;
    height: 37.5em;
    margin: 0;
    overflow: hidden;
    border-radius: 1.5em;
    display: block;
    top: 0.75em;
    left: 0;
    z-index: 1;
  }
  #hero-1951 .cs-picture img {
    object-fit: cover;
    object-position: 20% 50%;
    top: 0;
    left: 0;
  }
  #hero-1951 .cs-icon {
    width: 12.6875em;
    height: auto;
    position: absolute;
    top: 0;
    left: 13.125em;
  }
  #hero-1951 .cs-right {
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
  }
  #hero-1951 .cs-left {
    top: 0.75em;
    bottom: 4.875em;
    order: 1;
    flex: 0 0 100%;
  }
  #hero-1951 .cs-right-top {
    order: 2;
    flex: 0 0 35%;
  }
  #hero-1951 .cs-right-bottom {
    order: 3;
    flex: 0 0 63%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1951 .cs-reviews {
    text-align: left;
    flex-direction: row;
  }
  .fa-solid {
    margin-left: 0.5em;
    display: inline;
  }
  #hero-1951 .cs-picture img {
    object-position: left;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1951 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
  }
  #hero-1951 .cs-content {
    text-align: left;
    /* 48px - 80px */
    padding: clamp(3rem, 6vw, 5rem) 0;
    align-items: flex-start;
    align-self: center;
  }
  #hero-1951 .cs-image-group {
    font-size: min(1.12vw, 1rem);
    min-height: 20em;
    flex: none;
  }
  #hero-1951 .cs-left {
    top: 0.75em;
    bottom: 4.875em;
    order: 1;
    flex: 0 0 100%;
  }
  #hero-1951 .cs-right-top {
    order: 2;
    flex: 0 0 35%;
  }
  #hero-1951 .cs-right-bottom {
    order: 3;
    flex: 0 0 63%;
  }
  #hero-1951 .cs-right {
    height: auto;
    top: 5.625em;
    bottom: 0em;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1498 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background-color: #FAF9F5;
    overflow: hidden;
  }
  #services-1498 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 56.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 15;
  }
  #services-1498 .cs-content {
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    width: 100%;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1498 .cs-title {
    max-width: 23ch;
  }
  #services-1498 .cs-card-group {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1498 .cs-item {
    text-align: center;
    list-style: none;
    max-width: 21.25rem;
    /* 16px - 24px */
    padding: 1.5rem clamp(1rem, 2.4vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    /* 40px - 60px */
    border-radius: clamp(2.5rem, 5vw, 3.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
  }
  #services-1498 .cs-item:hover {
    border-color: var(--secondary);
  }
  #services-1498 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1498 .cs-item:hover .cs-h3,
  #services-1498 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #services-1498 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #services-1498 .cs-image-group {
    /* done in ems so we can use font size to scale it on desktop */
    width: 16.0625em;
    height: 12.5em;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
    position: relative;
    z-index: 1;
  }
  #services-1498 .cs-picture {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
  }
  #services-1498 .cs-picture img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.65s;
  }
  #services-1498 .cs-mask {
    /* SVG Colors */
    --maskBorder: #e8e8e8;
    --maskBG: #fff;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
  }
  #services-1498 .cs-info {
    display: flex;
    flex-direction: column;
  }
  #services-1498 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.5em;
    font-weight: 700;
    width: 100%;
    margin: 0 0 0.5rem 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    color: var(--headerColor);
    transition: background-color 0.3s;
    transition: color 0.3s;
  }
  #services-1498 .cs-ages {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--secondary);
  }
  #services-1498 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    max-width: 50ch;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
    width: 100%;
    color: var(--bodyTextColor);
  }
  #services-1498 .cs-link {
    font-size: 1rem;
    text-decoration: none;
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
  }
  #services-1498 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1498 .cs-arrow {
    display: block;
    height: auto;
    width: 1.25rem;
    transition: filter 0.3s, transform 0.3s;
  }
  #services-1498 .cs-hills {
    /* hills Color */
    --hillBG: #F2FAF8;
    width: 150%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    /* positions off the top at tablet */
    bottom: -6.25rem;
    left: 50%;
    transform: translateX(-50%);
  }
  #services-1498 .cs-wrapper {
    width: 140vw;
    max-width: 91.375rem;
    height: 70%;
    display: none;
    position: absolute;
    /* 60px - 100px (same as the padding bottom of the section ) */
    bottom: clamp(3.75rem, 7.82vw, 6.25rem);
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  #services-1498 .cs-floater {
    position: absolute;
  }
  #services-1498 .cs-floater1 {
    left: 0;
    top: -13.75rem;
  }
  #services-1498 .cs-floater2 {
    bottom: -3.125rem;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1498 .cs-container {
    max-width: 80rem;
  }
  #services-1498 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #services-1498 .cs-item {
    width: 31.5%;
  }
  #services-1498 .cs-image-group {
    /* scaling it down so it all fits proportionally */
    font-size: min(1.2vw, 1em);
  }
  #services-1498 .cs-wrapper {
    display: block;
  }
  #services-1498 .cs-hills {
    top: 65%;
    bottom: auto;
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 1rem 0 0 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    border: none;
    border-radius: 10rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cta-51 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cta-51 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1188 {
    padding: var(--sectionPadding);
    background: #18927C;
  }
  #services-1188 .cs-container {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1188 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1188 .cs-card-group {
    /* changes to 1280px at desktop */
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
  #services-1188 .cs-item {
    list-style: none;
    max-width: 23rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }
  #services-1188 .cs-picture {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    /* prevents border from affecting height and width */
    background-color: #f7f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1188 .cs-icon {
    width: 2.5rem;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
  }
  #services-1188 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor2);
    text-align: left;
  }
  #services-1188 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    text-align: left;
  }
  #services-1188 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    font-weight: 700;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  #services-1188 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-1188 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1188 .cs-card-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
  #services-1188 .cs-item {
    margin: 0;
  }
  #services-1188 .cs-content {
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* set text align to left if content needs to be left aligned */
    text-align: left;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1188 .cs-card-group {
    max-width: 80rem;
  }
  #services-1188 .cs-item {
    max-width: none;
    padding: 2rem 1.5rem;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-62 {
    padding: var(--sectionPadding);
  }
  #reviews-62 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-62 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-62 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
  }
  #reviews-62 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
    margin: 0;
    padding: 0;
  }
  #reviews-62 .cs-img {
    width: 8.75rem;
    height: 8.75rem;
    margin: 0 auto 1rem;
    border-radius: 50%;
    display: block;
  }
  #reviews-62 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-62 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: center;
    margin: 0 0 1rem;
    color: #7d799c;
    display: block;
  }
  #reviews-62 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    text-align: center;
    line-height: 1.5em;
    margin: auto;
    color: var(--bodyTextColor);
  }
  #reviews-62 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #reviews-62 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #reviews-62 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-62 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 2.5rem;
  }
  #reviews-62 .cs-item {
    /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 23% to get the desired sizes fit 4 in a row and then stack when you add more*/
    width: clamp(31.5%, 30vw, 32.3%);
  }
}

/*# sourceMappingURL=critical.css.map */
